body {
    max-width: 800px;
    font-family: Verdana;
}

div.topnavigation {
    text-align: justify;
    word-spacing: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px;
    margin-bottom: 10px;
}

div.leftside {
    clear: left;
    float: left;
}

div.rightside {
    clear: right;
    float: right;
}

div.content {
    clear: both;
    width: 100%;
}

address {
    margin-top: 10px;
    border-top: solid 2px;
    padding-top: 10px;
    font-style: italic;
}
